="Number of reservations at #{@day}: #{@reservations.count}"

%table.table.table-striped
  %tr
    %th.span1 From
    %th.span2 To
  -@reservations.each do |reservation|
    %tr
      %td= reservation.from
      %td= reservation.to

.reservations-paginate
  %a{ href: "http://localhost:9292/day?day=#{@day - 1}" }
    <- Previous

  %a{ href: "http://localhost:9292/day?day=#{@day + 1}" }
    Next ->

