%div
  %button.btn.btn-lng.btn-primary.reserve Create new reservation

  %form.reservation-form{ action: '/api/reservations', method: 'POST' }
    = Rack::Csrf.tag(env)
    %input.form-control.reserved-at{ :name => "reserved_at", :required => "", type: 'date', value: @day }/
    %input.form-control.from{ :autofocus => "true", :name => "from", :placeholder => "from", :required => "", :type => "text" }/
    %input.form-control.to{ :name => "to", :placeholder => "to", :required => "", :type => "text" }/
    %button.btn.btn-lng.btn-primary.btn-block.submit-reservation{ type: "Submit" } Save
.errors{ style: 'color: red;' }
.success{ style: 'color: green;' }
= "Number of reservations at #{@day}: #{@reservations.count}"

%table.table.table-striped
  %tr
    %th.span1 From
    %th.span2 To
  -@reservations.each do |reservation|
    %tr
      %td= reservation.from
      %td= reservation.to

.reservations-paginate
  %a{ href: "#{request.base_url}?day=#{@day - 1}" }
    <- Previous

  %a{ href: "#{request.base_url}?day=#{@day + 1}" }
    Next ->


:javascript
  $( document ).ready(function() {
    $('.reserve').click( function(){
      $('.reservation-form').toggle('10000');
    });
    viewFunctions.ajax_reservation($("[name='_csrf'").val(), "#{request.base_url}/api/reservations");
  });
